<div class="container">
    <h2>Proyectos</h2>
    <div class="row">
        <h3>proyecto 1</h3>
        <h4>fecha xxx</h4>
        <div class="col">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut possimus autem architecto expedita accusamus
                fuga labore perferendis esse. Sapiente consectetur sed quibusdam voluptates dolor? Dicta quis expedita
                labore omnis itaque!</p>
        </div>
        <div class="col">
            <img src="../../../assets/github.svg" alt="" class="img-fluid">
        </div>
    </div>
</div>