<div class="container">
    <h1>Educación</h1>
    <ul >
        <li>
            <div class="row">
                <!--laburo 1-->
                <div class="col-2">
                    <!--imagen laburo 1-->
                    <img src=".../../../../../assets/whatsapp.svg" alt="">
                </div>
                <div class="col-10">
                    <!--descripcion laburo 1-->
                    <h2>Educación 1</h2> - 
                    <h3>xxx años</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quia at ullam corrupti tempora explicabo.
                        Ad, nisi nihil. Praesentium nobis cumque illum minus repudiandae eos itaque explicabo repellendus
                        doloremque vero.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <!--laburo 1-->
                <div class="col-2">
                    <!--imagen laburo 1-->
                    <img src=".../../../../../assets/whatsapp.svg" alt="">
                </div>
                <div class="col-10">
                    <!--descripcion laburo 1-->
                    <h2>Educación 2</h2> - 
                    <h3>xxx años</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quia at ullam corrupti tempora explicabo.
                        Ad, nisi nihil. Praesentium nobis cumque illum minus repudiandae eos itaque explicabo repellendus
                        doloremque vero.</p>
                </div>
            </div>
        </li>
    </ul>
    
</div>