.row{
    padding: 5%;
}
div{
    background-color:lightgray;
    /*text-align: center;*/
}
/*etiquetas*/
#nombre {
    font-weight: bold;
    margin-top: 20%;
}
#profilepic {
    border-radius: 100%;
    position: absolute;
    width: 15%;
    box-shadow: 3px 3px 3px black;
}