<div class="container">
    <h2>Hard & Soft Skills</h2>
    <div class="col text-center">
        <h3>Hard Skills</h3>
        <circle-progress [title]="'HTML'" [percent]="80"></circle-progress>
        <circle-progress [title]="'CSS'" [percent]="80"></circle-progress>
        <circle-progress [title]="'Javascript'" [percent]="80"></circle-progress>
        <circle-progress [title]="'Java'" [percent]="80"></circle-progress>
    </div>
    <div class="col text-center">
        <h3>Soft Skills</h3>
        <circle-progress [title]="'Comunicación'" [percent]="80"></circle-progress>
        <circle-progress [title]="'Trabajo en equipo'" [percent]="80"></circle-progress>
        <circle-progress [title]="'Trabajo bajo presión'" [percent]="80"></circle-progress>
        <circle-progress [title]="'Iniciativa'" [percent]="80"></circle-progress>
    </div>
</div>